<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <title>About Me</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="/about">About Me</a>
                    </div>
                </div>
                
                <div class="right-side">
                    <div class="brand">
                        <div>Taylor Behny</div>
                    </div>
                </div>
            </div>

            <div class="two-column-wrapper">
                <div class="portfolio-item-wrapper">
                    <div class="img-background" style="background-image: url(img/crown-of-thorns.jpg)"></div>
                    
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="img\logos\holy-bible-128.png" class= "logos" alt=""></div>                            
                            <div class="subtitle">Jesus Christ is the only way to absolute beauty<br><br>Ps. 96:6</div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper">
                        <div class="img-background" style="background-image: url(img/khyzyl-saleem-myrex-smooth-1088low.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\car-14-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle">Cars are one of my favorite things; I hope to have a project car some day!<br><br>
                                    PC - Khyzyl Saleem
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item-wrapper">
                            <div class="img-background" style="background-image: url(img/gaming-desktop.jpg)"></div>
                            
                            <div class="img-text-wrapper">
                                <div class="logo-wrapper">
                                    <img src="img\logos\hard-disk-128.png" class= "logos" alt=""></div>                            
                                    <div class="subtitle">I hope to build a computer someday</div>
                            </div>
                        </div>
                        <div class="portfolio-item-wrapper">
                            <div class="img-background" style="background-image: url(img/ps3.jpg)"></div>
                            
                            <div class="img-text-wrapper">
                                <div class="logo-wrapper">
                                    <img src="img\logos\joystick-2-128.png" class= "logos" alt=""></div>                            
                                    <div class="subtitle">I enjoy gaming </div>
                                </div>
                            </div>
                <div class="portfolio-item-wrapper">
                    <div class="img-background" style="background-image: url(img/golden-spiral-galaxy.jpeg)"></div>
                    
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="img\logos\pi-sign-128.png" class= "logos" alt=""></div>                            
                            <div class="subtitle">I consider mathematics to be uniquely fascinating</div>
                    </div>
                </div>
                <div class="portfolio-item-wrapper">
                    <div class="img-background" style="background-image: url(img/minnesota-winter-3.jpg)"></div>
                    
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="img\logos\snowman-128.png" class= "logos" alt=""></div>                            
                            <div class="subtitle">I live in the wild tundra, that is Minnesota</div>
                    </div>
                </div>
            </div>
    </body>
    <script src="js/prac.js"></script>
</html>