<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/style.css">
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="/index">Home</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="/about">About Me</a>
                    </div>
                </div>
                
                <div class="right-side">
                    <div class="brand">
                        <div>Taylor Behny</div>
                    </div>
                </div>
            </div>
            
            <div class="content-wrapper">
                <div class="portfolio-items-wrapper">
                    
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/fiber-optic-cables.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\geography-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle"> My interests in technology have led me to web development</div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/coding-lines-4.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\html-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle">From C++ to CSS, I have explored different coding languages and desire to learn more</div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/Beautiful-Campus-Medium-Side-Image-1200x900.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\school-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle">Graduated with a Bachelors in Computer Science from UNW - St. Paul</div>
                        </div>
                    </div>
                   
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/ethernet-cables.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\database-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle">I'm looking to experiment with some back-end technology; specifically node.js</div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/wordpress-2.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\plugin-128.png" class= "logos" alt=""></div>                            
                                <div class="subtitle">I have experience with WordPress development; installing plugins, front-end editing, cPanel</div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image: url(img/sphere.jpg)"></div>
                        
                        <div class="img-text-wrapper">
                            <div class="logo-wrapper">
                                <img src="img\logos\laptop-3-128.png" class= "logos" alt="">
                            </div>                            
                            <div class="subtitle">I make projects on my own time to strengthen my web development skills</div>
                        </div>
                    </div>
                               
                </div>
            </div>
        </div>
    </body>
    <script src="js/prac.js"></script>
</html>